################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
*.user
[bB]in
[oO]bj
/src/Portfolio/Portfolio/.vscode
/src/Portfolio/Portfolio/package-lock.json
/src/AngularElements/AngularElements/.vscode
/src/AdaptiveCardDemo/AdaptiveCardDemo/.vscode
